{% extends '_layout' %}

{% set bodyClass = 'about about_index' %}

{% block content %}
  <main role="main">
    <section class='about-section-navigation global-section-navigation'>
      <div class='module'>
        <div class='global-section-navigation__container'>
          <div class='global-section-navigation__title'>
            <h1 class='h2'>About LeanKit</h1>
          </div>
        </div>
      </div>
    </section>
    <section class='about-us-motivation global-content'>
      <div class='module'>
        <div class='global-content--single-column'>
          <h2>The Motivation</h2>
          <p>Spreadsheets, the number-one tool used to manage projects, haven’t changed much since VisiCalc introduced them in 1979. The workplace has evolved dramatically, but project management tools haven’t kept up with today’s needs.</p>
          <p>Status updates are difficult to manage, and teams spend hours in status meetings only to emerge with guesstimates of how much effort a project will take. Meanwhile, management struggles to know who’s doing what work and when. Our founders wanted to find a better way.</p>
          <p>Before LeanKit, our founders spent several, aggravating years on the hamster wheel of corporate IT. The standard method of team collaboration required archaic tools such as physical whiteboards fed by list-based project management systems (and of course, the ubiquitous spreadsheet). Roadblocks popped up almost daily, consuming valuable time and delaying deliverables.</p>
          <p>Drawing from the principles of Lean, Agile and Kanban, our founders built LeanKit to revolutionize the way work is managed. As a result, we have witnessed the emergence of a more collaborative, proactive and successful workplace. We are excited to be on the forefront of helping people focus on the work that makes them happy.</p>
          <p>Dedicated to busting the myth that people are the reason projects fail, our founders created visual management and forecasting software designed to optimize individual and team effectiveness. Using a humanistic, rather than mechanistic, approach to productivity, LeanKit wants to help pave the way for the future of work by creating a visual tool that reinvents the way teams get stuff done.</p>
        </div>
      </div>
    </section>
    <section class='about-us-founders global-content global-section-navigation'>
      <div class='module'>
        <div class='global-section-navigation__container'>
          <div class='global-section-navigation__title'>
            <h1 class='h2'>Leadership</h1>
          </div>
        </div>
        <div class='row'>
          <div class='about-us-founders__founder-box' style="float: none;margin: 0 auto;padding-bottom: 32px;">
            <div class='about-us-founders__headeshot'>
              <img alt='Jon Terry' src='{{ craft.config.cdnBaseUrl }}/assets/images/headshots/Jon_Terry.jpg'>
            </div>
            <div class='about-us-founders__name'>
              <p>Jon Terry</p>
            </div>
            <div class='about-us-founders__title'>
              <p>Chief Evangelist, Lean-Agile Strategy at Planview</p>
            </div>
            <div class='about-us-founders__bio'>
              <p>Jon has been a leader in Agile transformations for some of the largest healthcare organizations in the U.S., including hospital-giant HCA Healthcare and its subsidiary, HealthTrust Purchasing Group. Jon earned his Global Executive MBA from Georgetown University and ESADE Business School in Barcelona, Spain. Pulling from a wide range of experience, Jon has emerged as a leader and highly sought-after presenter within the Lean and Agile community around the world. Jon not only helps LeanKit customers discover how to increase effectiveness using the LeanKit tool, he also actively seeks to raise awareness of the benefits of Kanban and visual project management.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='why-leankit section--home'>
      <div class='module--full-width'>
        <div class='why-leankit__title section__title'>
          <h3>Why LeanKit</h3>
        </div>
        <div class='why-leankit__intro'>
          <p>Today’s CEOs need to innovate and evolve faster than ever before. LeanKit is pioneering Lean across all business functions to help organizations deliver more customer value &mdash; faster. We help you create an environment of continuous improvement to fuel your competitive advantage.</p>
        </div>
        <div class='why-leankit__cta'>
          <a href='/why-leankit/'>Find Out More</a>
        </div>
        <div class='why-leankit__blocks'>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Lean Experts' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/leanExperts_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Lean Business Experts</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>We enable more than 50,000 teams around the world to apply lean principles to their work.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Value Delivery Platform' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/deliveryPlatform_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Customer Value Delivery Platform</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>LeanKit is the only lean-based platform focused on helping you deliver customer value faster</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Business Fitness' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/businessFitness_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Business Fitness</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>We help teams actively work together to deliver customer value faster &mdash; building business fitness from within.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Visual DNA' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/visualDNA_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Visual DNA</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>In everything we do, we harness the innate human preference for consuming information visually.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Evolutionary Approach' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/evolutionaryApproach_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Evolutionary Approach</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>We help you improve the success of your lean transformation through progressive evolution.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Lean Experts' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/organizedFlow_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Organizational Flow</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>Our business flow expertise helps you optimize your value streams and reduce waste.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
