{% extends '_layout' %}

{% set bodyClass = 'index' %}

{% block content %}
  <main role="main">
    <section class='hero home_messaging_ab--hero'>
      <div class='module--full-width'>
        <div class='hero__leaderboard'>
          <div class='hero__leaderboard__messaging'>
            <h1>Enterprise Kanban for Engineers</h1>
            <h2>Planview acquires LeanKit, expanding work and resources management platform.</h2>
            <div class='hero__leaderboard__messaging__cta'>
              <a class='js-tracked-event' data-event-location='In Page' data-event-target='Button' data-event-title='Learn More about Planview acquisition' href='/blog/2017/12/an-open-letter-to-our-customers-and-partners/'>Learn More</a>
            </div>
          </div>
        </div>
        <div class='hero-trustmarks'>
          <div class='module'>
            <div class='hero__trustmarks'></div>
          </div>
        </div>
      </div>
    </section>
    <section class='product-intro'>
      <div class='module'>
        <div class='product-intro__pitch'>
          <h3>Project Delivery Success The Lean Way</h3>
          <p>Visualize your team's work as it flows through your process</p>
        </div>
        <div class='product-intro__image__container'>
          <div class='product-intro__image'>
            <div class='product-intro__image__cta'>
              <a class='primary js-tracked-event' data-event-location='In Page' data-event-target='Button' data-event-title='Take Product Tour' href='/product/'>Take a Product Tour</a>
              <div class='secondary'>
                or
                <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Start 30-Day Trial' href='https://leankit.com/get-leankit/'>Start a 30-day Trial</a>
              </div>
            </div>
          </div>
        </div>
        <div class='product-intro__value-propositions'>
          <div class='product-intro__value-proposition'>
            <div class='product-intro__value-proposition__icon'>
              <img alt='Vizualize' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/visibility_icon.svg'>
            </div>
            <div class='product-intro__value-proposition__title'>
              Visibility
            </div>
            <div class='product-intro__value-proposition__copy'>
              Instant status updates for everyone &mdash; anytime, anywhere
            </div>
          </div>
          <div class='product-intro__value-proposition'>
            <div class='product-intro__value-proposition__icon'>
              <img alt='Collaborate' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/accountability_icon.svg'>
            </div>
            <div class='product-intro__value-proposition__title'>
              Accountability
            </div>
            <div class='product-intro__value-proposition__copy'>
              Shared understanding of who's working on what
            </div>
          </div>
          <div class='product-intro__value-proposition'>
            <div class='product-intro__value-proposition__icon'>
              <img alt='Improve' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/efficiency_icon.svg'>
            </div>
            <div class='product-intro__value-proposition__title'>
              Efficiency
            </div>
            <div class='product-intro__value-proposition__copy'>
              Streamlined and centralized communications for all
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='lbr-promo'>
      <div class='module--full-width'>
        <div class='lbr-promo__container'>
          <div class='lbr-promo__mobile'>
            <img alt='Lean Business Report' sizes='470px' src='{{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Mobile.png' srcset='{{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Mobile.png 470w, {{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Mobile@2x.png 939w'>
          </div>
          <div class='lbr-promo__leaderboard'>
            <div class='lbr-promo__leaderboard-inner'>
              <h1>
                Lean Business Report&nbsp;<span class='light'>2016</span></h1>
              <p>The first report of its kind to uncover how Lean drives business forward.</p>
              <div class='lbr-promo__cta'>
                <a class='js-tracked-event' data-event-location='In Page' data-event-target='Button' data-event-title='Lean Business Report' href='https://go.leankit.com/lean-business-report.html'>See the Future</a>
              </div>
            </div>
          </div>
          <div class='lbr-promo__print'>
            <img alt='Lean Business Report' sizes='1300px' src='{{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Print.png' srcset='{{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Print.png 1300w, {{ craft.config.cdnBaseUrl }}/assets/images/lbr/Promo_Print@2x.png 2599w'>
          </div>
        </div>
      </div>
    </section>
    <section class='lean-learning section--home'>
      <div class='module--full-width'>
        <div class='lean-learning__title section__title'>
          <h3>Lean Learning</h3>
        </div>
        <div class='lean-learning__content-blocks'>
          <div class='lean-learning__content-block lean-learning__content-block--article lean-learning__content-block--article--new-lean'>
            <div class='lean-learning__content-block--article__container'>
              <div class='lean-learning__content-block--article__title'>
                <h1>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog Learn about Lean' href='/blog/2015/05/welcome-to-the-new-lean/'>Welcome to the New Lean</a>
                </h1>
              </div>
              <div class='lean-learning__content-block--article__copy'>
                <p>Find out what the “new lean” means and how it applies to our modern business world.</p>
              </div>
              <div class='lean-learning__content-block--article__cta'>
                <a class='js-tracked-event' data-event-location='In Page' data-event-target='Button #2' data-event-title='Read Blog Learn about Lean' href='/blog/2015/05/welcome-to-the-new-lean/'>Read</a>
              </div>
            </div>
          </div>
          <div class='lean-learning__content-block lean-learning__content-block--quote lean-learning__content-block--quote--one'>
            <div class='lean-learning__content-block--quote__container'>
              <div class='lean-learning__content-block--quote__blockquote'>
                <span>The key to creating a lean enterprise is to enable those doing the work to solve their customers’ problems in a way that is aligned with the strategy of the wider organization.</span>
              </div>
              <div class='lean-learning__content-block--quote__attribution'>
                <div class='lean-learning__content-block--quote__headshot'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Exit Quote Jez Humble' href='http://shop.oreilly.com/product/0636920030355.do' target='_blank'>
                    <img alt='Jez Humble' src='{{ craft.config.cdnBaseUrl }}/assets/images/headshots/Jez_Humble.jpg'>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__name'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Exit Quote Jez Humble' href='http://shop.oreilly.com/product/0636920030355.do' target='_blank'>
                    <span>Jez Humble</span>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__att-title'>
                  <span>Vice President of <a href="https://www.chef.io/" target="_blank" class="js-tracked-event" data-event-location="In Page" data-event-target="Text" data-event-title="Exit Quote Jez Humble">Chef</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class='lean-learning__content-block lean-learning__content-block--article'>
            <div class='lean-learning__content-block--article__container'>
              <div class='lean-learning__content-block--article__title'>
                <h1>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog Beat the Odds' href='/blog/2015/05/beat-the-transformation-odds/'>Beat the Transformation Odds</a>
                </h1>
              </div>
              <div class='lean-learning__content-block--article__copy'>
                <p>Increase the success of your Lean transformation with new research from McKinsey.</p>
              </div>
              <div class='lean-learning__content-block--article__cta'>
                <a class='js-tracked-event' data-event-location='In Page' data-event-target='Button' data-event-title='Read Blog Beat the Odds' href='/blog/2015/05/beat-the-transformation-odds/'>Read</a>
              </div>
            </div>
          </div>
          <div class='lean-learning__content-block lean-learning__content-block--quote lean-learning__content-block--quote--two'>
            <div class='lean-learning__content-block--quote__container'>
              <div class='lean-learning__content-block--quote__blockquote'>
                <span>Lean is both a philosophy and a discipline which, at its core, increases access to information to ensure responsible decision making in the service of creating customer value.</span>
              </div>
              <div class='lean-learning__content-block--quote__attribution'>
                <div class='lean-learning__content-block--quote__headshot'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Exit Quote Jim Benson' href='http://moduscooperandi.com/' target='_blank'>
                    <img alt='Jim Benson' src='{{ craft.config.cdnBaseUrl }}/assets/images/headshots/Jim_benson.jpg'>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__name'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Exit Quote Jim Benson' href='http://moduscooperandi.com/' target='_blank'>
                    <span>Jim Benson</span>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__att-title'>
                  <span>CEO of <a href="http://moduscooperandi.com/" class="js-tracked-event" target="_blank" data-event-location="In Page" data-event-target="Text" data-event-title="Exit Quote Jim Benson">Modus Cooperandi</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class='lean-learning__content-block lean-learning__content-block--article lean-learning__content-block--article--baton'>
            <div class='lean-learning__content-block--article__container'>
              <div class='lean-learning__content-block--article__title'>
                <h1>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog Watch the Baton' href='/blog/2015/05/business-flow-watch-baton-not-runner/'>Watch the Baton, Not the Runner</a>
                </h1>
              </div>
              <div class='lean-learning__content-block--article__copy'>
                <p>Learn how business flow equips your organization for agility, adaptability, and long-term success.</p>
              </div>
              <div class='lean-learning__content-block--article__cta'>
                <a class='js-tracked-event' data-event-location='In Page' data-event-target='Button' data-event-title='Read Blog Watch the Baton' href='/blog/2015/05/business-flow-watch-baton-not-runner/'>Read</a>
              </div>
            </div>
          </div>
          <div class='lean-learning__content-block lean-learning__content-block--quote lean-learning__content-block--quote--three'>
            <div class='lean-learning__content-block--quote__container'>
              <div class='lean-learning__content-block--quote__blockquote'>
                <span>We need to create a culture that reinforces the value of taking risks and learning from failure.</span>
              </div>
              <div class='lean-learning__content-block--quote__attribution'>
                <div class='lean-learning__content-block--quote__headshot'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Exit Quote Gene Kim' href='http://www.itrevolution.net/' target='_blank'>
                    <img alt='Gene Kim' src='{{ craft.config.cdnBaseUrl }}/assets/images/headshots/Gene_kim.jpg'>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__name'>
                  <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Exit Quote Gene Kim' href='http://www.itrevolution.net/' target='_blank'>
                    <span>Gene Kim</span>
                  </a>
                </div>
                <div class='lean-learning__content-block--quote__att-title'>
                  <span>Author of <em>The Phoenix Project</em></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='why-leankit section--home'>
      <div class='module--full-width'>
        <div class='why-leankit__title section__title'>
          <h3>Why LeanKit</h3>
        </div>
        <div class='why-leankit__intro'>
          <p>LeanKit is a visual project delivery tool that enables teams of all types and across all levels of the organization to apply Lean management principles to their work. Whatever workflow methodology you use &mdash; including Kanban, Scrum, Waterfall and anything in between &mdash; we help you remove waste and continuously improve.</p>
        </div>
        <div class='why-leankit__blocks'>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Built for Lean' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/builtForLean_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Built for Lean</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>Purpose-built to increase your project delivery success through the implementation of lean practices.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Visual Management' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/visualManagement_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Visual Management</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>Our products harness the innate human preference for consuming information visually.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Unparalleled Flexibility' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/flexibility_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Unparalleled Flexibility</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>Easily adapt LeanKit to mirror your team’s unique process without restricting the way you work.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Continuous Improvement' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/evolutionaryApproach_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Continuous Improvement</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>LeanKit helps you optimize your workflow by removing bottlenecks and waste from your process.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Lean Metrics' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/leanMetrics2_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Lean Metrics</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>Lean metrics and reports help you measure your workflow to identify opportunities for improvement.</p>
            </div>
          </div>
          <div class='why-leankit__block'>
            <div class='why-leankit__block__icon'>
              <img alt='Unparalleled Flexibility' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/enterpriseScalability_icon.svg'>
            </div>
            <div class='why-leankit__block__title'>
              <span>Enterprise Scalability</span>
            </div>
            <div class='why-leankit__block__copy'>
              <p>As your lean initiative grows, LeanKit easily scales to support multiple projects, teams and locations.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='blog-callout section--home'>
      <div class='module--full-width'>
        <div class='blog-callout__title section__title'>
          <h3>The Blog</h3>
        </div>
        <div class='blog-callout__blocks'>
          <div class='blog-callout__block blog-callout__block--primary'>
            <div class='blog-callout__block__image'>
              <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Read Blog Kanban for DevOps' href='/blog/2015/02/3-reasons-ops-uses-lean-flow-kanban-devops-part-1-3/'>
                <img alt='Dev/Ops' src='{{ craft.config.cdnBaseUrl }}/assets/images/LK_blog_DevOps_large.jpg'>
              </a>
            </div>
            <div class='blog-callout__block__text-block'>
              <div class='blog-callout__block__text-block__container'>
                <div class='blog-callout__block__text-block__category'>
                  <span>Kanban for DevOps</span>
                </div>
                <div class='blog-callout__block__text-block__title'>
                  <h3>
                    <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog Kanban for DevOps' href='/blog/2015/02/3-reasons-ops-uses-lean-flow-kanban-devops-part-1-3/'>
                      3 Reasons Why IT Ops Uses Lean Flow
                    </a>
                  </h3>
                </div>
                <div class='blog-callout__block__text-block__copy'>
                  <p>Discover three key reasons why IT Ops teams and those implementing a DevOps value chain use a lean flow approach to product development.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='blog-callout__block blog-callout__block--secondary'>
            <div class='blog-callout__block__image'>
              <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Read Blog Lean Metrics' href='/blog/2015/04/lean-metrics-predictability/'>
                <img alt='Dev/Ops' src='{{ craft.config.cdnBaseUrl }}/assets/images/LK_blog_Predictability_sm.jpg'>
              </a>
            </div>
            <div class='blog-callout__block__text-block'>
              <div class='blog-callout__block__text-block__container'>
                <div class='blog-callout__block__text-block__category'>
                  <span>Lean Metrics</span>
                </div>
                <div class='blog-callout__block__text-block__title'>
                  <h3>
                    <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog Lean Metrics' href='/blog/2015/04/lean-metrics-predictability/'>
                      Measure Predictability with Facts Over Forecasts
                    </a>
                  </h3>
                </div>
                <div class='blog-callout__block__text-block__copy'>
                  <p>A predictable outcome is one of the most sought-after goals in any business or initiative. Find out how fact-based predictability metrics can help you measure it.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='blog-callout__block blog-callout__block--secondary'>
            <div class='blog-callout__block__image'>
              <a class='js-tracked-event' data-event-location='In Page' data-event-target='Image' data-event-title='Read Blog WIP Limits' href='/blog/2014/03/wip-limits-journey-safely-unknown-part-1-3/'>
                <img alt='Dev/Ops' src='{{ craft.config.cdnBaseUrl }}/assets/images/LK_blog_WIP_sm.jpg'>
              </a>
            </div>
            <div class='blog-callout__block__text-block'>
              <div class='blog-callout__block__text-block__container'>
                <div class='blog-callout__block__text-block__category'>
                  <span>WIP Limits</span>
                </div>
                <div class='blog-callout__block__text-block__title'>
                  <h3>
                    <a class='js-tracked-event' data-event-location='In Page' data-event-target='Text' data-event-title='Read Blog WIP Limits' href='/blog/2014/03/wip-limits-journey-safely-unknown-part-1-3/'>
                      How to Journey Safely Into the Unknown
                    </a>
                  </h3>
                </div>
                <div class='blog-callout__block__text-block__copy'>
                  <p>It sounds counter-intuitive, but limiting your work in process (WIP) actually improves your flow -- and your team’s productivity. Learn how.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
