{% extends '_layout' %}

{% set bodyClass = 'why-leankit why-leankit_index' %}

{% block content %}
  <main role="main">
    <section class='why-leankit-leaderboard global-leaderboard'>
      <div class='module'>
        <div class='why-leankit-leaderboard__container global-leaderboard__container'>
          <h1>Why LeanKit</h1>
          <p>Today’s CEOs need to innovate and evolve faster than ever before. LeanKit is pioneering Lean across all business functions to help organizations deliver more customer value &mdash; faster. We help you create an environment of continuous improvement to fuel your competitive advantage.</p>
        </div>
      </div>
    </section>
    <section class='why-leankit-content global-content'>
      <div class='module'>
        <div class='global-content--single-column'>
          <h2>
            <img alt='Lean Experts' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/leanExperts_icon.svg'>
            Lean Business Experts
          </h2>
          <p>LeanKit runs a lean shop and always has. A team of highly focused lean practitioners, we seek to continuously improve our company, our products and ourselves. With this expertise, we enable more than <a href="/customers/">50,000 teams around the world</a> to apply lean management principles to their work. Teams of all types &mdash; including IT, software and product development, operations, sales, marketing, HR, legal, and finance &mdash; rely on LeanKit every day.</p>
          <h2>
            <img alt='Value Delivery Platform' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/deliveryPlatform_icon.svg'>
            Customer Value Delivery Platform
          </h2>
          <p>As the only lean-based enterprise platform, LeanKit helps you deliver *your* unique value to *your* customers faster. We give you the tools to visualize your work, optimize your flow and continuously improve your business performance. Teams at all levels of your organization can align around the things that matter most to your customers: quality, innovation and speed.</p>
          <h2>
            <img alt='Business Fitness' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/businessFitness_icon.svg'>
            Business Fitness
          </h2>
          <p>Our mission is to help teams actively work together to deliver customer value faster &mdash; building business fitness and strength from within. We believe that engaging your teams in solving problems and reducing waste leads to continuous improvement, creating a culture of intrapreneurship and innovation. Simply put, the stronger your teams, the stronger your business.</p>
          <h2>
            Visual DNA
            <img alt='Visual DNA' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/visualDNA_icon.svg'>
          </h2>
          <p>In everything we do, we harness the innate human preference for consuming information visually. We’re passionate about creating faster, clearer ways to communicate that are universally understood across diverse teams, geographies, and methodologies. This results in visual products that are quick to adopt, intuitive to use and simple to scale &mdash; a compelling return on your investment.</p>
          <h2>
            <img alt='Evolutionary Approach' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/evolutionaryApproach_icon.svg'>
            Evolutionary Approach
          </h2>
          <p>The success of any lean transformation depends on your ability to make it last &mdash; to truly absorb it into your cultural mindset. It’s a journey that starts with what you do now and evolves progressively. LeanKit gives you the flexibility to continuously experiment, making small, incremental changes that minimize risk while demonstrating improvement.</p>
          <h2>
            <img alt='Lean Experts' src='{{ craft.config.cdnBaseUrl }}/assets/images/icons/organizedFlow_icon.svg'>
            Organizational Flow
          </h2>
          <p>Delivering customer value frequently is key to sustaining a competitive advantage. LeanKit provides business flow expertise to help you optimize your value streams and reduce waste within and across connected teams. We are advocates of metrics-driven learning to continuously improve your flow &mdash; replacing uncertainty with fast, predictable value delivery.</p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
